<h1><%= @vendor.name %></h1>
<h4>Contact Info: </h4>
<h4>name: <%= @vendor.contact_name %></h4>
<h4>phone: <%= @vendor.contact_phone %></h4>
<h4>Credit Accepted? <%= @vendor.credit_accepted %></h4>
<h4>Description: <%= @vendor.description %></h4>
